@mixin button($background: $primary-color, $color: $alternative-color) {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  width: max-content;
  border: 0;
  height: 40px;
  line-height: 24px;
  padding: 8px 24px;
  user-select: none;
  background: $background;
  color: $color;
  font-weight: 600;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) { @content; }
  }
  @if $breakpoint == tablet-portrait {
    @media (max-width: 900px) { @content; }
  }
  @if $breakpoint == tablet-landscape {
    @media (max-width: 1200px) { @content; }
  }
  @if $breakpoint == desktop {
    @media (max-width: 1500px) { @content; }
  }
}
