@import '../../../styles/mixins';
@import '../../../styles/variables';
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}
.close_btn{
  @include button($background: $alternative-color, $color: $background-color);
}
.accept_btn{
  @include button();
}
