<table>
  <thead>
  <tr>
    <th>Logo</th>
    <th>Nombre del producto</th>
    <th><div>Descripción</div><i class="ri-information-fill"></i></th>
    <th><div>Fecha de liberación</div> <i class="ri-information-fill"></i></th>
    <th><div>Fecha de reestructuración</div> <i class="ri-information-fill"></i></th>
    <th></th> <!-- TODO: Opcional, para el menú contextual -->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of paginatedProducts">
    <td><img [src]="product.logo" alt="Logo" width="50"></td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.date_release | date:'d/MM/yyyy' }}</td>
    <td>{{ product.date_revision | date:'d/MM/yyyy' }}</td>
    <td>
      <button (click)="toggleMenu(product.id)">
        <i class="ri-more-2-line"></i>
      </button>
      <div class="menu-dropdown" *ngIf="openedMenuId === product.id">
        <ul>
          <li (click)="editItem(product)">Editar</li>
          <li (click)="deleteItem(product)">Eliminar</li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div class="pagination-controls d-flex justify-space-between pt-3">
  <!--Navigation buttons-->
  <div class="navigation_buttons d-flex align-items-center">
    <button (click)="goToFirstPage()" [disabled]="currentPage === 1"><<</button>
    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1"><</button>
    <span class="mx-2">{{ currentPage }} de {{ totalPages }}</span>
    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">></button>
    <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">>></button>
  </div>
  <select id="itemsPerPage" class="pagination_select" [(ngModel)]="itemsPerPage" (change)="updatePagination()">
    <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
  </select>

</div>
<app-message-modal *ngIf="showDeleteModal"
                   [title]="'Confirmar eliminación'"
                   [message]=deleteMessage
                   [showCancel]="false"
                   [showConfirm]="true"
                   (cancel)="handleCancelButton()"
                   (confirm)="handleDeleteButton()">>
</app-message-modal>
